{% extends "base.html" %} {% block title %}系统参数管理{% endblock %} {% block content %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/number.js' %}"></script>
    <script type="text/javascript">
        var url;

        $(document).ready(function () {
            $('#dg').datagrid({
                url: "{% url 'imgs:pageParam' %}",
                method: 'get',
                fit: true,
                fitColumns: true,
                striped: true,
                singleSelect: true,
                pagination: true,
                pageList: [20, 30, 40, 50],
                pageSize: 20,
                toolbar: '#tb',
                rownumbers: true,
                idField: 'id',
                columns: [[{
                    field: 'ck',
                    checkbox: true,
                    width: 80,
                    fixed: true
                }, {
                    field: 'name',
                    title: '参数名称',
                    width: 200,
                    halign: 'center',
                    align: 'center',
                    fixed: true
                }, {
                    field: 'code',
                    title: '参数代码',
                    width: 200,
                    halign: 'center',
                    align: 'center',
                    fixed: true
                }, {
                    field: 'val',
                    title: '参数值',
                    width: 100,
                    halign: 'center',
                    align: 'center',
                }]]
            });

            $('#addBtn').linkbutton({
                iconCls: 'application_form_add',
                text: '录入',
                plain: true,
                onClick: function () {
                    $('#fm').form('reset');
                    $('#dlg').dialog('open');
                    url = "{% url 'imgs:saveAccount' %}";
                }
            });

            $('#editBtn').linkbutton({
                iconCls: 'application_form_edit',
                text: '修改',
                plain: true,
                onClick: function () {
                    var row = $('#dg').datagrid('getSelected');
                    if (row) {
                        $('#fm').form('reset');
                        $('#fm').form('load', row);
                        $('#dlg').dialog('open');
                        url = "{% url 'imgs:updateAccount' %}";
                    } else {
                        $.messager.alert('操作结果', '请选择要修改的会计科目！', 'error');
                    }
                }
            });

            $('#delBtn').linkbutton({
                iconCls: 'application_form_delete',
                text: '删除',
                plain: true,
                onClick: function () {
                    var row = $('#dg').datagrid('getSelected');
                    if (row) {
                        $.messager.confirm('确认', '确认删除?', function (ok) {
                            if (ok) {
                                $.ajax({
                                    url: "{% url 'imgs:delAccount' %}",
                                    data: {
                                        id: row.id
                                    },
                                    success: function (rst) {
                                        $.messager.alert('操作结果', rst.msg, 'info');
                                        $('#dg').datagrid('reload');
                                    }
                                });
                            }
                        });
                    } else {
                        $.messager.alert('操作结果', '请选择要删除的会计科目！', 'error');
                    }
                }
            });

            $('#uploadBtn').linkbutton({
                iconCls: 'picture_add',
                text: '批量导入',
                plain: true,
                onClick: function () {
                    $('#uploadFm').form('reset');
                    $('#uploadDlg').dialog('open');
                },
            });
        });
    </script>

    <script type="text/javascript">
        function saveAccount() {
            $('#fm').form('submit', {
                url: url,
                ajax: true,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (data) {
                    var d = eval('(' + data + ')');
                    $.messager.alert('操作结果', d.msg, 'info', function () {
                        if (d.rst) {
                            $('#dlg').dialog('close');
                            $('#fm').form('reset');
                            $('#dg').datagrid('load');
                        }
                    });
                }
            });
        }

        function uploadFile() {
            $('#uploadFm').form('submit', {
                url: "{% url 'imgs:importAccount' %}",
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (data) {
                    var d = eval('(' + data + ')');
                    $.messager.alert('操作结果', d.msg, 'info', function () {
                        if (d.rst) {
                            $('#uploadDlg').dialog('close');
                            $('#uploadFm').form('reset');
                            $('#dg').datagrid('reload');
                        }
                    });
                }
            });
        }
    </script>

    <table id="dg"></table>
    <div id="tb">
        <a id="addBtn" href="#"></a>
        <a id="editBtn" href="#"></a>
        <a id="delBtn" href="#"></a>
        <a id="uploadBtn" href="#"></a>
    </div>
    <div id="dlg" class="easyui-dialog" style="width: 600px" title="添加/修改会计科目" closed="true"
         modal="true" buttons="#dlg-buttons">
        <form id="fm" method="post" style="margin: 0; padding: 20px 50px">
            {% csrf_token %} <input type="hidden" id="id" name="id">
            <div style="margin-bottom: 20px; font-size: 14px; border-bottom: 1px solid #ccc">会计科目信息</div>
            <div style="margin-bottom: 10px">
                <input
                        id="code" name="code" class="easyui-textbox"
                        data-options="required:true,label:'机构代码:{{ orgCode }}'" style="width: 49%">
            </div>
            <div style="margin-bottom: 10px;">
                <input id="name" name="name" class="easyui-textbox"
                       data-options="required:true,label:'机构名称:'" style="width: 99%">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="disk" onclick="saveAccount()"
           style="width: 90px">保存</a> <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="cancel"
                                         onclick="javascript:$('#dlg').dialog('close')" style="width: 90px">取消</a>
    </div>

    <div id="uploadDlg" class="easyui-dialog" style="width: 600px" title="导入会计科目文件" closed="true"
         modal="true" buttons="#uploadDlg-buttons">
        <form id="uploadFm" method="post" enctype="multipart/form-data" data-options="iframe:true"
              style="margin: 0; padding: 20px 50px">
            {% csrf_token %}
            <div style="margin-bottom: 20px; font-size: 14px; border-bottom: 1px solid #ccc">导入会计科目文件</div>
            <div style="margin-bottom: 10px">
                <input id="accountFile" name="accountFile" class="easyui-filebox"
                       data-options="buttonText: '选择会计科目文件',label:'导入文件:',accept:'application/vnd.ms-excel'"
                       style="width:99%">
            </div>
        </form>
    </div>
    <div id="uploadDlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="disk" onclick="uploadFile()"
           style="width: 90px">上传</a> <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="cancel"
                                         onclick="javascript:$('#uploadDlg').dialog('close')" style="width: 90px">取消</a>
    </div>

{% endblock %}
