{% extends "base.html" %}
{% load static %}
{% block title %}影像预览{% endblock %} {% block content %}
    <link href="{% static 'lightgallery/css/lightgallery.css' %}" rel="stylesheet">
    <link href="{% static 'lightgallery/css/htmleaf-demo.css' %}" rel="stylesheet">
    {#    <script src="{% static 'lightgallery/js/jquery-1.11.0.min.js' %}"></script>#}
    <script src="{% static 'lightgallery/js/lightgallery-all.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#lightgallery').lightGallery();
        });
    </script>
    <div class="demo-gallery" style="height: 150px;">
        <ul id="lightgallery" class="list-unstyled row">
            {% for img in imgs %}
                <li data-src="{% url 'imgs:viewImg' %}?imgId={{ img.id }}"
                    data-sub-html="<h4>影像描述</h4><p>{{ img.description }}</p>">
                    <a href="">
                        <img class="img-responsive" title="{{ img.description }}"
                             src="{% url 'imgs:viewThumb' %}?imgId={{ img.id }}">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}