{% extends "base.html" %}
{% load static %}
{% block title %}影像预览{% endblock %}
{% block content %}
    <link href="{% static 'lightgallery/css/lightgallery.css' %}" rel="stylesheet">
    <link href="{% static 'lightgallery/css/htmleaf-demo.css' %}" rel="stylesheet">
    <script src="{% static 'lightgallery/js/lightgallery-all.min.js' %}"></script>
    <script type="text/javascript">
        var imgId = null;
        var imgDescription = '';

        $(document).ready(function () {
            $('#lightgallery').lightGallery({
                share: false
            });

            {% if user.role == 'user' %}
                $('img.img-responsive').bind('contextmenu', function (e) {
                    e.preventDefault();
                    imgId = e.currentTarget.id;
                    imgDescription = $('#' + imgId).attr('desc');
                    $('#context-menu').menu('show', {
                        left: e.pageX,
                        top: e.pageY
                    });
                });
            {% endif %}
        });

        function menuHandler(item) {
            if (item.name == 'delete' && imgId != null) {
                $.messager.confirm('确认', '确认删除?', function (ok) {
                        if (ok) {
                            $.ajax({
                                url: "{% url 'imgs:delCertificateImg' %}",
                                data: {
                                    id: imgId
                                },
                                success: function (rst) {
                                    $.messager.alert({
                                        title: '操作结果',
                                        msg: rst.msg,
                                        icon: 'info',
                                        fn: function () {
                                            parent.reloadDg();
                                            window.location.reload();
                                        }
                                    });
                                }
                            });
                        }
                    }
                )
                ;
            } else if (item.name == 'moveToFirst' && imgId != null) {
                $.ajax({
                    url: "{% url 'imgs:changeCertificateImgOrder' %}",
                    data: {
                        id: imgId,
                        action: 'toFirst'
                    },
                    success: function (rst) {
                        $.messager.alert({
                            title: '操作结果',
                            msg: rst.msg,
                            icon: 'info',
                            fn: function () {
                                if (rst.rst) {
                                    parent.reloadDg();
                                    window.location.reload();
                                }
                            }
                        });
                    }
                });
            } else if (item.name == 'moveToLast' && imgId != null) {
                $.ajax({
                    url: "{% url 'imgs:changeCertificateImgOrder' %}",
                    data: {
                        id: imgId,
                        action: 'toLast'
                    },
                    success: function (rst) {
                        $.messager.alert({
                            title: '操作结果',
                            msg: rst.msg,
                            icon: 'info',
                            fn: function () {
                                if (rst.rst) {
                                    parent.reloadDg();
                                    window.location.reload();
                                }
                            }
                        });
                    }
                });
            } else if (item.name == 'editDescription' && imgId != null) {
                $('#description').textbox('setValue', imgDescription);
                $('#editDescriptionDlg').dialog('open');
            } else {
                $.messager.alert('操作结果', '请选择要删除的影像图片！', 'error');
            }
        }

        function updateDescription() {
            $.ajax({
                url: "{% url 'imgs:updateImgDescription' %}",
                data: {
                    id: imgId,
                    description: $('#description').textbox('getValue')
                },
                method: 'POST',
                success: function (rst) {
                    $.messager.alert({
                        title: '操作结果',
                        msg: rst.msg,
                        icon: 'info',
                        fn: function () {
                            if (rst.rst) {
                                window.location.reload();
                            }
                        }
                    });
                }
            });
        }
    </script>
    <div id="div" class="demo-gallery" style="height: 150px;">
        <ul id="lightgallery" class="list-unstyled row">
            {% for img in imgs %}
                <li data-src="{% url 'imgs:viewImg' %}?imgId={{ img.id }}"
                    data-sub-html="<h4>影像描述</h4><p>{{ img.description }}</p>">
                    <a href="" title="{{ img.description }}" class="easyui-tooltip">
                        <img id="img_{{ img.id }}" class="img-responsive" desc="{{ img.description }}"
                             src="{% url 'imgs:viewThumb' %}?imgId={{ img.id }}">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if user.role == 'user' %}
        <div id="context-menu" class="easyui-menu" data-options="onClick:menuHandler" style="width:120px;">
            <div data-options="name:'delete',iconCls:'picture_delete'">删除影像</div>
            <div data-options="name:'moveToFirst',iconCls:'control_start_blue'">移到最前</div>
            <div data-options="name:'moveToLast',iconCls:'control_end_blue'">移到最后</div>
            <div data-options="name:'editDescription',iconCls:'comment_edit'">修改描述</div>
        </div>

        <div id="editDescriptionDlg" class="easyui-dialog" style="width: 400px" title="修改影像描述" closed="true"
             modal="true" buttons="#editDescriptionDlg-buttons">
            <div style="margin-bottom: 10px; margin-left: 20px; margin-top: 10px;">
                <input id="description" name="description" class="easyui-textbox"
                       data-options="required:false,label:'影像说明:',labelAlign:'left'" style="width:80%">
            </div>
        </div>
        <div id="editDescriptionDlg-buttons">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="disk" onclick="updateDescription()"
               style="width: 90px">保存</a> <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="cancel"
                                             onclick="javascript:$('#editDescriptionDlg').dialog('close')"
                                             style="width: 90px">取消</a>
        </div>
    {% endif %}
{% endblock %}