{% extends "base.html" %} {% block title %}系统参数管理{% endblock %} {% block content %}
    {% load static %}
    <script type="text/javascript">
        var url;

        $(document).ready(function () {
            $('#dg').datagrid({
                url: "{% url 'imgs:pageParam' %}",
                method: 'get',
                fit: true,
                fitColumns: true,
                striped: true,
                singleSelect: true,
                pagination: true,
                pageList: [20, 30, 40, 50],
                pageSize: 20,
                toolbar: '#tb',
                rownumbers: true,
                idField: 'id',
                columns: [[{
                    field: 'ck',
                    checkbox: true,
                    width: 80,
                    fixed: true
                }, {
                    field: 'name',
                    title: '参数名称',
                    width: 200,
                    halign: 'center',
                    align: 'center',
                    fixed: true
                }, {
                    field: 'code',
                    title: '参数代码',
                    width: 200,
                    halign: 'center',
                    align: 'center',
                    fixed: true
                }, {
                    field: 'val',
                    title: '参数值',
                    width: 100,
                    halign: 'center',
                    align: 'center',
                }]]
            });

            $('#editBtn').linkbutton({
                iconCls: 'cog_edit',
                text: '修改',
                plain: true,
                onClick: function () {
                    var row = $('#dg').datagrid('getSelected');
                    if (row) {
                        $('#fm').form('reset');
                        $('#fm').form('load', row);
                        $('#dlg').dialog('open');
                        url = "{% url 'imgs:updateParam' %}";
                    } else {
                        $.messager.alert('操作结果', '请选择要修改的系统参数！', 'error');
                    }
                }
            });
        });
    </script>

    <script type="text/javascript">
        function saveParam() {
            $('#fm').form('submit', {
                url: url,
                ajax: true,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (data) {
                    var d = eval('(' + data + ')');
                    $.messager.alert('操作结果', d.msg, 'info', function () {
                        if (d.rst) {
                            $('#dlg').dialog('close');
                            $('#fm').form('reset');
                            $('#dg').datagrid('load');
                        }
                    });
                }
            });
        }
    </script>

    <table id="dg"></table>
    <div id="tb">
        <a id="editBtn" href="#"></a>
    </div>
    <div id="dlg" class="easyui-dialog" style="width: 600px" title="添加/修改会计科目" closed="true"
         modal="true" buttons="#dlg-buttons">
        <form id="fm" method="post" style="margin: 0; padding: 20px 50px">
            {% csrf_token %} <input type="hidden" id="id" name="id">
            <div style="margin-bottom: 20px; font-size: 14px; border-bottom: 1px solid #ccc">会计科目信息</div>
            <div style="margin-bottom: 10px;">
                <input id="name" name="name" class="easyui-textbox"
                       data-options="required:true,editable:false,label:'参数名称:'" style="width: 49%">
            </div>
            <div style="margin-bottom: 10px">
                <input id="code" name="code" class="easyui-textbox"
                       data-options="required:true,editable:false,label:'参数代码:'" style="width: 49%">
            </div>
            <div style="margin-bottom: 10px;">
                <input id="val" name="val" class="easyui-textbox"
                       data-options="required:true,label:'参数值:'" style="width: 99%">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="disk" onclick="saveParam()"
           style="width: 90px">保存</a> <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="cancel"
                                         onclick="javascript:$('#dlg').dialog('close')" style="width: 90px">取消</a>
    </div>

{% endblock %}
