{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-easyui-1.5.3/themes/black/easyui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-easyui-1.5.3/themes/icon.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.12.4/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-easyui-1.5.3/jquery.easyui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-easyui-1.5.3/locale/easyui-lang-zh_CN.js' %}"></script>
    <script type="text/javascript">
        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
        });
    </script>
</head>
<body>{% block content %}{% endblock %}
</body>
</html>